@import "base/reset.css";
@import "base/normalize.css";
@import "base/variables.css";
@import "base/breakpoints.css";
@import "base/krid.css";
@import "base/fonts.css";
@import "./elements.css";

:global * {
  box-sizing: border-box;
}

html,
body{
  background: #EFEFEF;
  color: var(--default-font-color);
  font-family: var(--default-font);
}
