:root{
  /* Site Colors */
  --main-color: #f53b74;
  --secondary-color: #f1c40f;
  --main-black: #3d3d3d;

  /* Site Colors >> Utils */
  --main-color-overlay: rgba(var(--main-color), 0.75);

  /* Screen Sizes*/
  --huge: 1200px;
  --big: 960px;
  --medium: 768px;
  --small: 540px;
  --xsmall: 320px;

  /* Fonts */
  --default-font: 'Roboto';
  --special-font: 'beyond-the-mountains';

  /* Fonts >> Sizes */
  --line-height-proportion: 1.4;

  --small-font-size: .8rem;
  --small-line-height: calc(var(--small-font-size) * var(--line-height-proportion));
  --default-font-size: 1rem;
  --default-line-height: calc(var(--default-font-size) * var(--line-height-proportion));
  --big-font-size: 1.5rem;
  --big-line-height: calc(var(--big-font-size) * var(--line-height-proportion));
  --large-font-size: 2rem;
  --large-line-height: calc(var(--large-font-size) * var(--line-height-proportion));
  --larger-font-size: 3.5rem;
  --larger-line-height: calc(var(--larger-font-size) * var(--line-height-proportion));

  /* Fonts >> Colors */
  --yellow-font-color: #efbd1c;
  --light-font-color: #afafaf;
  --default-font-color: #777777;
  --dark-font-color: var(--main-black);

  /* Z-index layers */
  --layer-background: -5;
  --layer-base: 0;
  --layer-front: 5;
  --layer-over: 10;
  --layer-in-your-face: 15;

  /* Spacings */
  --smaller-padding: 5px;
  --small-padding: 15px;
  --default-padding: 30px;
  --large-padding: 50px;

  --collumns-gutter: var(--default-padding);

  /* Krid Helper */
  --percent: 1 %;
}
