/*Roboto*/
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';

:root{
  --huge: 1200px;
  --big: 960px;
  --medium: 768px;
  --small: 540px;
  --xsmall: 320px;

  --percent: 1 %;

  --desktop-mapa-height: 720px;
  --mobile-mapa-height: 620px;

  --default-font: 'Roboto';

  --lighter-font-color: #FFF;
  --light-font-color: #a0a0a0;
  --default-font-color: #616161;

  --light-border-color: #EEE;
  --default-border-color: #DDD;

  --small-font-size: .8rem;
  --small-line-height: calc(var(--small-font-size) * 1.4);
  --default-font-size: 1rem;
  --default-line-height: calc(var(--default-font-size) * 1.4);
  --big-font-size: 1.5rem;
  --big-line-height: calc(var(--big-font-size) * 1.4);
  --large-font-size: 2rem;
  --large-line-height: calc(var(--large-font-size) * 1.4);

  --collumns-gutter: 30px;

  --small-padding: 15px;
  --default-padding: 30px;
  --large-padding: 50px;

  --section-margin: 50px;
  --elements-margin: 30px;

  --layer-background: -5;
  --layer-base: 0;
  --layer-front: 5;
  --layer-over: 10;
  --layer-in-your-face: 15;

  --main-color: #f73882;

  --success-color: #1abc9c;
  --danger-color: #e74c3c;

  --dark-gray: #3D3D3D;
  --soft-gray: #ebeff1;
}
