@import 'css/base/variables.css';
@import 'css/base/breakpoints.css';

.profile{
  &__resume{
    color: var(--light-font-color);
    font-weight: 100;
    font-size: var(--big-font-size);
    line-height: var(--big-line-height);

    .highlight{
      color: var(--main-color);
      font-weight: 600;
    }
  }

  &__picture-area{
    position: relative;
    margin-bottom: var(--large-padding);

    .balloon{
      left: 50%;
      right: auto;
    }

    .balloon.one,
    .balloon.two{
      transform: translate(-180px, -60%);

      &:before{
        left: auto;
        right: 5px;
        border-width: 0 8px 8px 0;
        border-left-color: transparent;
        border-right-color: color(var(--main-color) b(+ 20%));
      }
    }

    .balloon.three,
    .balloon.four{
      transform: translate(150px, -60%);
    }

    .balloon.one{
      top: 0;
    }

    .balloon.two{
      top: 50px;
    }

    .balloon.three{
      top: 30px;
    }

    .balloon.four{
      top: 90px;
    }
  }
}
