@import 'css/base/variables.css';

.button{
  color: #FFF;
  background: var(--main-color);
  border: none;

  padding: 10px;
  outline: none;
  cursor: pointer;
  transition: all .5s;

  font-size: var(--default-font-size);
  line-height: var(--default-line-height);

  &:hover{
    transition: all .5s;
    background: color(var(--main-color) l(+ 8%));
  }

  &:focus{
    outline: none;
  }

  &.-small{
    font-size: var(--small-font-size);
    line-height: var(--small-line-height);
    padding: 5px;
  }

  span[class^="fa"]{
    margin-right: 3px;
  }
}
