@import 'css/base/breakpoints.css';
@import 'css/base/variables.css';

.section{
  margin: var(--large-padding) 0;

  &__header{
    position: relative;
    text-align: center;
    max-width: var(--small);
    margin: 0 auto calc(var(--large-padding) + 25px) auto;

    &:after{
      content: ' ';
      position: absolute;
      height: 5px;
      width: 70px;
      bottom: calc(20px * -1);
      left: 50%;
      transform: translateX(-50%);
      background: var(--main-color);
    }
  }

  &__title{
    font-family: var(--special-font);
    font-size: var(--large-font-size);
    line-height: var(--large-line-height);
  }

  &__subheading{
    color: var(--light-font-color);
    font-size: var(--default-font-size);
    line-height: var(--default-line-height);
  }

  &.top{
    margin-top: var(--large-padding);
  }

  &.bottom{
    margin-bottom: var(--large-padding);
  }

  &:last-child{
    margin-bottom: none;
  }
}
