@import 'css/base/variables.css';

.scroll-down-button{
  text-align: center;
  position: absolute;
  bottom: var(--large-padding);
  left: 50%;
  transform: translateX(-50%);

  text-transform: uppercase;
  color: #FFF;
  font-weight: 100;
  letter-spacing: 3px;
  font-size: var(--small-font-size);
  line-height: var(--small-line-height);

  cursor: pointer;
}
